body{
    background: url("../images/bg3.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
p.footer{
    color: white;
    font-size: 15px;
    font-family: "Times New Roman";
    text-align: center;
}
p.serif{
    color: white;
    font-size: 65px;
    font-family: "Times New Roman";
    text-align: center;
}
p.access{
    color: white;
    font-size: 20px;
    font-family: "Times New Roman";
    text-align: center;
}
#align{
    text-align: center;
}